.blogs-section {
  .haran{
    text-align: center;
  }

  .blog-btn-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;

    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
      }

      img {
        object-fit: contain;
        width: 25px;
        height: 25px;
      }
    }
  }

  .blog-list {
    .blog {
      img{
        max-height: 180px;
        object-fit: cover;
      }
      &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      }

      .card-text {
        font-size: 1rem;
      }
    }

    h5 {
      a {
        text-decoration: none;
      }
    }
  }
}
