<!-- <div class="container-fluid form-banner pos-rel "> -->
    <div class="container" id="ff">
        <app-sidebar></app-sidebar>
        <div class="haran">Farmerspage <br> </div>
        <br>
      <h3 class="cc"><b>Create post</b></h3>
      
   
  <!-- </div> -->
  <div class="container mx-auto mt-3">
    <div class="form-section col-md-6">
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label> <br><br> <b>Place your image<br> </b></label>
          <br>
          <input class="form-control-file" formControlName="postimage" name="postimage" (change)="upload($event)" accept=".png,.jpg" [ngClass]="{ 'is-invalid': submitted && f.postimage.errors }" type="file" />
          <progress max="100" [value]="(uploadProgress | async)"></progress>
          <div [ngClass]="{'text-success': fileUploaded, 'text-info': !fileUploaded}">{{upldStatus}}</div>
          <div *ngIf="submitted && f.postimage.errors" class="invalid-feedback">
            <div *ngIf="f.postimage.errors.required"><b>Item image is required</b></div>
          </div>
        </div>
        <div class="form-group">
          <label class="ab"><b>About the need</b></label>
          <textarea style="min-height:250px;" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" class="form-control" name="description"></textarea>
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required"><b>Description is required</b></div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
        <br><br>
      </form>
    </div>
  </div>
  </div>

<app-sideicons></app-sideicons>  