<div class="container-fluid">
  <div class="blogs-section pt-5">
      <app-sidebar></app-sidebar>
      <div class="haran"><h2>Informationcenter</h2></div>
    <div class="blog-btn-icons">
      <div *ngIf="!isLoggedIn" (click)="goSignup()" class="icon shadow bg-info d-flex justify-content-center align-items-center mb-2">
        <p class="d-inline-block h3" title="Login">
          <img src="assets/img/signup.png" />
        </p>
      </div>
      <div *ngIf="!isLoggedIn" (click)="goAuth()" class="icon shadow bg-success d-flex justify-content-center align-items-center mb-2">
          <p class="d-inline-block h3" title="signup">
            <img src="assets/img/login-icon.png" />
          </p>
      </div>
      <div *ngIf="isLoggedIn" (click)="logout()" class="icon shadow bg-danger d-flex justify-content-center align-items-center mb-2">
        <p class="d-inline-block h3" title="Logout">
          <img src="assets/img/logout-icon.png" />
        </p>
      </div>
      <div (click)="goAddArticles()" class="icon shadow bg-primary d-flex justify-content-center align-items-center">
        <p class="d-inline-block h3 text-white" title="Add new articles">+</p>
      </div>
    </div>
    <!-- <div class="blog-list mb-5 mt-5">
      <div class="container card-columns" *ngIf="articles">
        <div class="card blog shadow-sm m-2"  *ngFor="let blog of articles | filter : searchBlogs">
            <span class="edit-link pos-abs py-1 px-2" *ngIf="blog.data.uid == auth.currentUserId"><a href="/editinfor/{{blog.key}}">Edit</a></span>
          <img class="card-img-top" [src]="blog.data.postimage" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a class="card-link" href="/informationcenter/{{blog.key}}">{{ blog.data.title }}</a></h5>
            <blockquote class="blockquote mb-0">
              <p class="card-text">{{blog.data.description | slice:0:150 }}...</p>
              <footer class="blockquote-footer">by <cite title="Source Title">{{blog.user.fullname}}</cite></footer>
            </blockquote>
            <div class="text-right">
              <a href="/informationcenter/{{blog.key}}" class="btn btn-light text-info read-more">Read more</a>

            </div>
          </div>
         
        </div>
      </div>
    </div> -->
    
    <div class="blog-list mb-5 mt-5">
      <div class="container card-columns" *ngIf="articles">
        <div class="card blog shadow-sm m-2"  *ngFor="let blog of articles | filter : searchBlogs">
               <div><h5 class="card-title"><a class="card-link" href="/informationcenter/{{blog.value.key}}">{{ blog.value.data.title }}</a></h5>
                <span class="edit-link pos-abs py-1 px-2" *ngIf="blog.value.data.uid == auth.currentUserId"><a href="/editinfor/{{blog.value.key}}">Edit</a></span>
                <img class="card-img-top" [src]="blog.value.data.postimage" alt="Card image cap">
          <div class="card-body">
            
            <blockquote class="blockquote mb-0">
              <p class="card-text">{{blog.value.data.description | slice:0:150 }}...</p>
              <!-- <footer class="blockquote-footer">by <cite title="Source Title">{{blog.user.fullname}}</cite></footer> -->
            </blockquote>
            <div class="text-right">
              <a href="/informationcenter/{{blog.value.key}}" class="btn btn-light text-info read-more">Read more</a>

            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
