<div class="container">
  <section class="article-section">
      <app-sidebar></app-sidebar>
    <div class="d-flex post-meta">
      <img [src]="article.profileimage" class="user-avatar" />
    </div>
    <div class="post-content mt-2">
     <div class="row">
            <div class="col-md-6">
                <label>Username</label>
            </div>
            <div class="col-md-6">
                <p>{{ article.username }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Fullname</label>
            </div>
            <div class="col-md-6">
                <p>{{ article.fullname }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Main role</label>
            </div>
            <div class="col-md-6">
                <p>{{article.role}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Address</label>
            </div>
            <div class="col-md-6">
                <p>{{ article.address }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Date of birth</label>
            </div>
            <div class="col-md-6">
                <p>{{ article.dob }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Phone number</label>
            </div>
            <div class="col-md-6">
                <p>{{ article.phoneno }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>About</label>
            </div>
            <div class="col-md-6">
                <p>{{ article.about }} 
                </p>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <label>Email</label>
                </div>
                <div class="col-md-6">
                    <p>{{ article.email }} 
                    </p>
                </div>
            </div>
    </div>
    <agm-map [zoom]="7" [latitude]="map.lat" [longitude]="map.lon" (mapClick)="onChoseLocation($event)"  >

      <agm-marker [latitude]='lat' [longitude]='lon'></agm-marker>
    </agm-map>                

    <br>
  </section>
</div>
<div class="blog-btn-icons">
<!-- <span class="edit-link pos-abs py-1 px-2" *ngIf="blog.data.uid == auth.currentUserId"><a href="/edit/{{blog.key}}">Edit</a></span> -->
  <div *ngIf="!auth.isUserLoggedIn" (click)="goAuth()" class="icon shadow bg-success d-flex justify-content-center align-items-center mb-2">
    <p class="d-inline-block h3" title="Login">
      <img src="assets/img/login-icon.png" />
    </p>
  </div>
  <div *ngIf="auth.isUserLoggedIn" (click)="logout()" class="icon shadow bg-danger d-flex justify-content-center align-items-center mb-2">
    <p class="d-inline-block h3" title="Logout">
      <img src="assets/img/logout-icon.png" />
    </p>
  </div>
  <div (click)="goHome()" class="icon mt-2 shadow bg-primary d-flex justify-content-center align-items-center">
    <p class="d-inline-block h3" title="Home">
      <img src="assets/img/home.png" />
    </p>
    <!-- <a href="/edit/{{blog.key}}">Edit</a> -->
  </div>
</div>
